@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kreon:wght@300..700&family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.loading {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.loading path {
  animation: colorAnim 4s linear infinite;
}
.rotating {
  animation: spin 4s linear infinite;
}

@keyframes colorAnim {
  0% {
    fill: rgb(83, 83, 83);
  }
  25% {
    fill: rgb(103, 103, 103);
  }
  50% {
    fill: rgb(123, 123, 123);
  }
  75% {
    fill: rgb(143, 143, 143);
  }
  100% {
    fill: rgb(83, 83, 83);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

main {
  padding: 30px;
  max-width: 1600px;
  margin-inline: auto;
  padding-top: 0px;
}

.react-photo-album--image {
  border-radius: 10px;
}

header {
  height: 150px;
  padding: 0px;
  padding-bottom: 0px;
  max-width: 1600px;
  margin-inline: auto;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  align-items: flex-end;
}

footer {
  height: 200px;
  margin-inline: auto;
  background: #ddddddab;
  display: flex;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 30px;
  margin-bottom: 0px;
  padding: 30px;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 10;
  padding-left: 55px;
}

.gridIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 70px;
  -webkit-tap-highlight-color: transparent;
}
.girdButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px;
  background: none;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  padding: 0px;
  -webkit-tap-highlight-color: transparent;
}
.gridIcon .girdButton:focus {
  -webkit-tap-highlight-color: transparent;
}

.stickyAvatar {
  position: sticky;
  top: 0;
  z-index: 100;
}

.flex-container {
  font-family: "Share Tech Mono", monospace;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.flex-item {
  /* flex: 1 1 200px; */
  width: 100%;
}

.flex-item:last-child {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: #565656;
  padding: 10px;
}

.social a svg {
  height: 35px;
}

.equipment {
  display: flex;
  justify-content: center;
}

.social {
  display: flex;
  justify-content: space-evenly;
}

.center-flex {
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 25px;
  font-family: "Kreon", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #7d7d7d;
}

@media (max-width: 768px) {
  a {
    padding: 0px;
    padding-right: 10px;
  }

  .center-flex {
    font-size: 15px;
  }

  .social {
    justify-content: center;
  }

  .flex-item:last-child {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .motto-content {
    width: 65%;
  }

  /* .avatar svg {
    width: 45px;
  }

  .girdButton {
    padding-top: 10px;
  } */
}

.tbart {
  display: flex;
  font-size: 25px;
}

.motto {
  text-align: -webkit-center;
  flex-direction: column;
  font-family: "Domine", serif;
}
.motto-content {
  padding: 20px;
}
